@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    <img src="~/Content/Images/Praise.jpg" class="img-responsive img-rounded" />
</div>

<p>Light Bearer's Community is Catholic Charismatic Renewal Community in Enugu State University of Science and Technology(ESUT)  <br />aimed at
    ensuring the spiritual growth of it's members while pursuing academic decipline.</p>
