
@{
    ViewBag.Title = "Chaplaincy";
}

<h2>St. ST. ALBERT the GREAT (Died 1280 A.D.)
    <strong>Feast:</strong> November 15</h2>
<div>
    <img src="~/Content/Images/st.Albert.jpg" class="img-responsive" />
</div>
<div>
    <p style="padding-top:25px">
        He was known as the <em style="color:red">
    teacher of everything there is to know,
    
</em>was a scientist long before the age of science,
         was considered a wizard and magician in his own lifetime, 
        and became the teacher and mentor of that other remarkable mind of his time, 
        St. Thomas Aquinas.
        <br />St. Albert the Great was born in Lauingen on the Danube, near Ulm, Germany; 
        his father was a military lord in the army of Emperor Frederick II. As a young man Albert
         studied at the University of Padua and there fell under the spell of Blessed Jordan of Saxony,
         the Dominican who made the rounds of the universities of Europe drawing the best young men 
        
        of the universities into the Dominicans.

        <br />After several teaching assignments in his order, he came in 1241 to the University of Paris,
         where he lectured in theology. While teaching in Paris, he was assigned by his order in 1248 
        to set up a house of studies for the order in Cologne. In Paris, he had gathered around him a 
        small band of budding theologians, the chief of whom was Thomas Aquinas, who accompanied him 
        to Cologne and became his greatest pupil.

        <br />In 1260, he was appointed bishop of Regensberg; when he resigned after three years, 
        he was called to be an adviser to the pope and was sent on several diplomatic missions.
         In his latter years,
         he resided in Cologne, took part in the Council of Lyons in 1274, 
        and in his old age traveled to Paris to defend the teaching of his student Thomas Aquinas.

        It was in Cologne that his reputation as a scientist grew. 
        He carried on experiments in chemistry and physics in his makeshift laboratory 
        and built up a collection of plants, insects, and chemical compounds that gave 
        substance to his reputation. When Cologne decided to build a new cathedral, 
        he was consulted about the design. He was friend and adviser to popes, bishops, kings,
         and statesmen and made his own unique contribution to the learning of his age.<br />

        He died a very old man in Cologne on November 15,1280, 
        and is buried in St. Andrea's Church in that city. 
        He was canonized and declared a Doctor of the Church in 1931 by<strong> Pope Pius XI.</strong>
         His writings are remarkable for their exact scientific knowledge, 
        and for that reason he has been made the patron saint of scientists.

       <br /><blockquote> <strong>Thought for the Day:</strong> <em> St. Albert the Great was convinced that all creation spoke of God
         and that the tiniest piece of scientific knowledge told us something about Him.
         Besides the Bible, God has given us the book of creation revealing something
         of His wisdom and power. In creation, Albert saw the hand of God.</em></blockquote><br />

        
        <blockquote>
            Since we have a kingdom nothing can destroy, let us please God by serving him with
            thankful hearts, and with holy fear and awe. For our God is a consuming fire.<br />
            —Hebrews 12:28-29
        </blockquote>
    </p>
</div>

