@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Enugu State University of Science and Technology<br />
    Permanent site, Agbani Campus,<br />Ebano City Enugu State.<br />
    <abbr title="Phone">P:</abbr>
    +234 703 1620 728.
</address>
