
@{
    ViewBag.Title = "EvangelicalMinistry";
}

<div>
    <img src="~/Content/Images/learning.jpg" class="img-responsive" />
</div>
<div>
    <p>Go ye into the nations and preach the gospel to all men. <br />Baptizing them in the name of the Father, the Son and the Holy-Spirit.</p>
</div>

