@{
    ViewBag.Title = "Home Page";
}

<div class="carousel slide" id="mySlide" data-ride="carousel">
    <ol class="carousel-indicators"><!--slide indicators-->
        <li data-target="#mySlide" data-slide-to="0" class="active"></li>
        <li data-target="#mySlide" data-slide-to="1"></li>
        <li data-target="#mySlide" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox" style="margin-left:15%"><!--Wrap for slider Images-->
        <div class="item active"><img src="~/Content/Images/images (2).jpg" style="width:60%" class="img-responsive"/></div>
        <div class="item"><img src="~/Content/Images/images (3).jpg" style="width:60%" class="img-responsive"/></div>
        <div class="item"><img src="~/Content/Images/jesus.jpg" style="width:60%" class="img-responsive"/></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <p>
                <h2><span style="color:aquamarine">THE FORM OF A SERVANT</span></h2>
                <img src="~/Content/Images/the form of a servant.jpg" class="img-responsive" style="height:200px"/>
                <blockquote>
                    <em>
                    “Who, being in the form of God, did not consider it robbery to be equal with God, but made Himself of no reputation, taking the form of a bondservant, and coming in the likeness of men.
                    And being found in appearance as a man, He humbled Himself and became obedient to the point of death, even the death of the cross.” Phil 2: 6-8
                    </em>
                </blockquote>

                Everyone grows up to become a ‘master’. Experience, expertise and exposures tend to make a man a master. Exploits done for the Lord will automatically place a status on your life. Years of service, years of ministry, years of revelation from God seek to make a ‘master’ out of you. ‘Masters’ are men who direct but for Jesus, this was not so. He took upon Himself the form of a servant! This again was His personal choice.

                No one imposed it on Him. He took it upon Himself. This is the crux of the matter. If you desire to remain a master it is your right. Years of service have probably brought it on you; exposure, experience, expertise and exploits have made and carved out such a seat for you. But you can lay it aside to continually tie around yourself the towel of service . . .

                Though no man would call on you to serve (actually, men will agree to serve you and will run around for you), you must also lay it aside, if you must bear God’s glory upon your life for a long time.

                <blockquote> <strong> “. . . coming in the likeness of men. And being found in appearance as a man, He humbled Himself and became obedient . . .”</strong></blockquote>

                Do not seek to be different from people. Do not assume any other posture! Do not seek another outlook. It is safer for you to be a mere man, no matter the treasure within your heart. It is safer to appear as clay – unattractive outside, despite the glorious investment of God within.

                Men out of admiration of what God is doing in your life may lose their heads and become very excited about you. May the Lord help you to pour it out to Him as David of old, and not to drink the sweat of men, let alone their blood!

                These deliberate choices, Jesus made to fit and fix Him for the utmost honour.<br />

                <strong>  <em> Can I cling to perishables and still hope for my head to wear the crown eternal?</em></strong>
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel-group row">
        <div class="panel col-md-4">
            <div class="page-header">
                <h6 class="panel-title">
                    <button  type="button" data-toggle="collapse" class="btn btn-block"data-target="#Activity" style="background:#d66404">Activities</button>
                </h6>
            </div>
            <div class="panel-collapse collapse"id="Activity">
                <div class="panel-body">
                    Praying Ministry Meeting - Every Tuesday 2:00Pm<br />
                    Other Ministry Meetings - Every Monday  2:00pm<br />
                    Fellowship - Every Wednessday - 1:00pm<br />
                    <strong>venue:</strong>School Auditorium.
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-9">
            <div>
                <h4>News &amp; Events</h4>
                <p>Our Brothers and Sisters Day is fast approaching</p>
            </div>
        </div>
    </div>
</div>

