
@{
    ViewBag.Title = "PrayingMinistry";
}

<div>
    <img src="~/Content/Images/background.jpg" class="img-responsive" />
</div>
<div>
    <p>Pray without season. Prayer units us with the father and opens an endless door of grace in our life.</p>
</div>
