
@{
    ViewBag.Title = "Worship";
}

<h2> Praise &amp;Worship</h2>
<div>
    <img src="~/Content/Images/Praise.jpg" class="img-responsive" />
</div>
<div>
    <p>Sing praises to the Lord Almighty.</p>
</div>

